<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/app.js"></script>
    <script>
        $(document).ready(function () {
            document.querySelector('input[type=file]').addEventListener('change', function () {

                var reader = new FileReader();
                reader.onload = function () {

                    var arrayBuffer = this.result,
                      array = new Uint8Array(arrayBuffer),
                      binaryString = String.fromCharCode.apply(null, array);

                    console.log(binaryString);

                }
                $scope.imageByteArray = reader.readAsArrayBuffer(this.files[0]);

            }, false);
        });
    </script>
</head>
<body ng-app="myApp">
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="myCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Employee Lookup", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Employee Lookup Application</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
